<header class="" role="banner">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/"> <img src="{{ "/assets/agapi-logo.png" | relative_url }}" alt="Logo" height="60" /> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog"><strong>Blog</strong></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/food"><strong>Food</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dogs"><strong>My dogs</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testing"><strong>Testing</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upbringing"><strong>Upbringing</strong></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/about"><strong>About</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><strong>Contact</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
