body {
  background-color: #f2f6ff;
}

@media (min-width: 768px) {
  .vertical-gap--large {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  .vertical-gap--large {
    margin-top: 50px;
  }
}
